.node circle {
  stroke: #eeeeee;
  stroke-width: 1.5px;
}

.node text {
    pointer-events: none
    font: 10px sans-serif
}

html, body {
    min-height: 100%;
}

body {
    position: relative;
}

.graph-output {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.overlay {
  fill: #eeeeee;
  pointer-events: all;
}

.help-tooltip {
    data-placement: "right";
}

/*
.popover-title { 
    display: none; 
}
*/

.bottom-buffer { padding-bottom:20px; }

.example-panel { 
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #888;
    border-radius: 5px;
}

.form-header {
    font-size: 20px;
    border-bottom-width: 1px;
    border-bottom-color: #888;
    border-bottom-style: solid;
}

input {
    max-width: 100%;
}

select {
    max-width: 100%;
}

.figure {
    display: block;
    text-align: center;
    margin: auto;
}
.jslider .jslider-scale ins {
    width: 40px;
    text-align: center;
}

span.jslider {
    margin-bottom: 26px;
}

#loading {
    display:none;
}

#disconnectedMessage {
    display:none;
    color: #000;
}

.disconnected #disconnectedMessage {
    display:block
}

.loading {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:10;
    min-height:100%;
    background-color: irgba(0,0,0,100);
    text-align:center;
    color:#fff;
}

.loading-dialog {
    position:fixed;
    left:50%;
    top:50%;
    height: 100px;
    line-height: 100px;
    width: 300px;
    margin-top: -50px;
    margin-left: -150px;
    z-index:11;
    background-color:#aaa;
    text-align: center;
    border-radius: 5px;
}

.loading-dialog span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#disconnectedMessage p {
    margin: 1em;
}

#module {
    background-color: #eee;
    width: 100%;
    height: 100vh;
}

.DEBlock {
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
}

.action-button {
    margin-top: 6px;
    margin-bottom: 6px;
}

#helpPanel img {
    max-width: 100%;
}

.well button {
    width: 100%;
    white-space: normal;
}

.sidebar {
    width: 20em;
}

.mainPanel {
    width: calc(100% - 20em);
}

.container-fluid {
    max-width: 95%;
}

#helpPanel {
    max-width: 60em;
}
